.container.py-4
    .jumbotron.bg-white.text-center
        %p お金の見える化ツール
        %h1.display-4
            My
            %span.text-primary
                Home
            Money
        .row.py-4
            .p-1.col-sm-12.col-md-3.offset-md-3
                = link_to "ログイン", new_login_path,{class:"btn btn-primary btn-block"}
            .p-1.col-sm-12.col-md-3
                = link_to "アカウント登録", new_account_path, {class:"btn btn-success btn-block"}
.bg-light
    .container.py-5.text-center
        %h3 らくらく出金記録
        %p.text-muted.text-center.py-3
            My Home Moneyを使えば簡単にお金の出金記録を付けることができます。3日坊主にはなりません。
        .py-2
            %i.fas.fa-coins.icon-big.text-primary
.bg-white
    .container.py-5.text-center
        %h3 家族でお金を管理
        %p.text-muted.text-center.py-3
            My Home Moneyは、複数人で記録を付けることができます。家族で記録を付けることで家族全体の家計を俯瞰することができます。
        .py-2
            %i.fas.fa-users.icon-big.text-primary
.bg-light
    .container.py-5.text-center
        %h3 共有財布の精算に対応
        %p.text-muted.text-center.py-3
            My Home Moneyは、共有財布の精算に対応しています。外出先で共有支出を建て替えた際に確実に精算するための仕組みを提供します。
        .py-2
            %i.fas.fa-cash-register.icon-big.text-primary