.bg-white
    .container.py-4
        %h5.text-center 直近の支出額推移
        .py-4
            - target_amount = 20000
            - (0..6).each do |i|
                .d-flex.py-1
                    .month
                        #{(Date.today.beginning_of_month - i.months).strftime('%m')}月
                    .progress.wide-max.ml-2
                        .progress-bar{role:"progressbar",style:"width:#{(sum(Household.find_by_month(Date.today.beginning_of_month - i.months))*100)/target_amount}%"}
                            #{sum(Household.find_by_month(Date.today.beginning_of_month - i.months))} 円
            .text-sm.text-right.text-muted  ※最大#{target_amount}円
